<% if (success_msg && success_msg.length > 0) { %>
  <div class="alert alert-success" role="alert">
    <%= success_msg %>
    <button type="button" class="close-alert" onclick="this.parentElement.style.display='none';">&times;</button>
  </div>
<% } %>

<% if (error_msg && error_msg.length > 0) { %>
  <div class="alert alert-danger" role="alert">
    <%= error_msg %>
     <button type="button" class="close-alert" onclick="this.parentElement.style.display='none';">&times;</button>
  </div>
<% } %>

<% if (error && typeof error !== 'undefined' && error.length > 0) { %>
  <div class="alert alert-danger" role="alert">
    <%= error %>
     <button type="button" class="close-alert" onclick="this.parentElement.style.display='none';">&times;</button>
  </div>
<% } %>

